<h2>Upload a new Movie</h2>
{{!-- Don't forget --}}
{{!-- enctype="multipart/form-data" --}}
<form action="/movie/add" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">
  <br>

  <label>Description</label>
  <input type="text" name="description">
  <br>

  <label>Poster</label>
  <input type="file" name="photo">
  <br>

  <input type="submit" value="SAVE">
  <br>
</form>